body {
    color: fuchsia;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(opice.jpg);
    background-size: cover;
}
.Nadpis {
    color: blue;
    font-family: 'Georgia', 'Times New Roman', Times, serif;
}

.Nadpis2 {
    color: aquamarine;
    font-family: 'Times New Roman', Times, serif;
}

.Nadpis3 {
    color: brown;
    font-family: Arial, Helvetica, sans-serif;
}

.jidlo {
    list-style-type: upper-roman; 
}

.jidlo li.sýr {
    color: red; 
}

.jidlo li.nudle {
    color: blue; 
}

.jidlo li.maso {
    color: green; 
}

.piti {
    list-style-image: url(th.jpg);
}
.piti li.cola {
    color: purple; 
}
.piti li.džus {
    color: orange; 
}
.piti li.víno {
    color: darkred; 
}
.tvary {
    list-style: square; 
}

.tvary li.kolecko {
    list-style-type: circle;
    color: navy;
}

.tvary li.ctverecek {
    list-style-type: square; 
    color: teal;
}

.tvary li.trojuhelnik {
    list-style-type: square; 
    color: darkgoldenrod;
}
